body {
	background-color:white;
	 width: 1424px;
     height: 1470px;
     margin: 0;
     padding: 0;
 }

  h1 {
  	font-family: 'Raleway', sans-serif;
	font-size: 30px; 
	margin-left:10px;
}
.friendly {color:white;
	font-family: 'Calligraffitti', cursive;
	text-align:center;
	font-size:60px;}

.nav {
  height:135px;
  width:1424px;
  top: 0;
  left:0;
  z-index: 1;
  background-color:black;
  position: fixed;}

.box1 { 
	height:400px;
  width:600px;
  margin-top: 150px;
  margin-left:50px;
  background-color:grey;
  float: left;
}

.profiles {
	width:230px;
	margin-left:20px;
}

.text {float:right;
	margin-right:10px;
	font-family: 'Josefin Slab', serif;
	font-size: 25px;}


.social_media {
	float:right;
	margin-right:10px;
	margin-top:10px;
}

.sm {width:60px;
	margin-left:20px;
	position:absolute;}

.smpicture1 {
	margin-top:0px;
}
	
.smpicture2 {
	margin-top:65px;
}


@media screen and (max-width:600px) {
body {
	background-color:black;
	 width: 320px;
     height: 838px;
     margin: 0;
     padding: 0;}

 h1 {font-family: 'Raleway', sans-serif;
font-size: 20px
}

.profiles {
	width:100px;
	margin-left:20px;}

.friendly {color:black;
	font-family: 'Calligraffitti', cursive;
	text-align:center;
	font-size:20px;}


.nav {
  height:50px;
  width:320px;
  top: 0;
  z-index: 1;
  background-color:white;
}
.box1 { 
	height:200px;
  width:250px;
  margin-top: 70px;
  margin-left:30px;
  background-color:grey;
}
.social_media {
	float:top;
	margin-right:5px;
	margin-top:10px;
	font-family: 'Josefin Slab', serif;
	font-size: 10px;
}
.sm {width:25px;
	margin-left:2px;
	position:absolute;}

.smpicture1 {
	margin-top:0px;
}
	
.smpicture2 {
	margin-top:35px;
}

}